:root {
  --soft-blue: #5E97F6;
  --sunshine-yellow: #FFD54F;
  --light-lavender: #EDE7F6;
  --pure-white: #FFFFFF;
  --soft-red: #E57373;
  --light-orange: #FFB74D;
  --sky-blue: #64B5F6;
  --pastel-green: #81C784;
}

body {
  color: white;
  background-color: var(--soft-blue);
}

.container {
  background-color: var(--pure-white);
}

.error {
  color: var(--soft-red);
}

.warning {
  color: var(--light-orange);
}

.info {
  color: var(--sky-blue);
}

.success {
  color: var(--pastel-green);
}
